---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script>
      document.body.addEventListener("htmx:load", function (evt) {
        console.log(evt);
      });
      document.body.addEventListener("htmx:beforeSwap", function (evt) {
        console.log(evt.detail);
      });
    </script>
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <div id="app"></div>
  </body>

  <style is:global>
    :root {
      --accent: 136, 58, 234;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
      );
    }
    /* Reset.css */

    /* Box sizing border-box for all elements */
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    /* Remove default margin and padding */
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    dl,
    figure,
    blockquote,
    fieldset,
    legend {
      margin: 0;
      padding: 0;
    }

    /* Remove list styles (bullet points and numbering) */
    ul,
    ol {
      list-style: none;
    }

    /* Set base font size and line height */
    body {
      font-size: 16px;
      line-height: 1.5;
    }

    /* Remove hyperlink text decoration and ensure consistent color */
    a {
      text-decoration: none;
      color: inherit;
    }

    /* Remove default button styling */
    button,
    input,
    select,
    textarea {
      margin: 0;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
    }

    /* Remove outline on focused elements */
    :focus {
      outline: 0;
    }

    html {
      font-family: system-ui, sans-serif;
    }
    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }
  </style>
</html>
